<div class="container">
  <div class="row">
    <div class="col"></div>

    <div class="col">
      <form [formGroup]="formEmail">
        <h2>Envio de Email</h2>
        <div class="row email d-flex justify-content-center vh-50">
          <div class="col-md-8">
            <label for="inputEmail4">Remetente</label>
            <input class="form-control" formControlName="remetente" />
          </div>
          <div class="col-md-8">
            <label for="inputPassword4">Assunto</label>
            <input class="form-control" formControlName="titulo" />
          </div>
          <div class="col-md-8">
            <label for="exampleFormControlTextarea1">Body</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              formControlName="body"
            ></textarea>
          </div>
          <button type="submit" (click)="enviar()" class="btn btn-primary">
            Enviar
          </button>
        </div>
      </form>
    </div>

    <div class="col"></div>
  </div>
</div>
